<nav>
<div class="nav-wrapper" style="display:flex; justify-content:center;">
  <ul id="nav-mobile" class="hide-on-med-and-down">
    <li class="px-2"><a href="/home">Home</a></li>
    <li class="px-2"><a href="/mycvs">My CVs</a></li>
    <li class="px-2"><a href="#">To be Assigned</a></li>
    <li class="px-2"><a href="/account">Account</a></li>
  </ul>
</div>
</nav>