


<form class="container mt-4">
<h1 class="text-center"> Login </h1>
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="loginEmail">
  </div>
  <div class="mb-3">
    <label for="loginPwd" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/signupform">Don't Have an Account? Signup Here.</a>
</form>
