
<form method="POST" action="/signupUser" class="container mt-4">
<h1 class="text-center"> Signup </h1>
  <div class="mb-3">
    <label for=signupEmail" class="form-label">Email address</label>
    <input name="signupEmail" type="email" class="form-control" id="signupEmail">
  </div>
  <div class="mb-3">
    <label for="signupPwd" class="form-label">Password</label>
    <input name="signupPwd" type="password" class="form-control" id="signupPwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/loginform">Already Have an Account? Login Here.</a>
</form>
